
<div class="jumbotron">
<h2>Welcome to my cool website!!!!!!!!!!!</h2>
<p>if you want to have some fun, sign up for notifications or directly to a game</p>
<div class="row">
    <div class="col-md-6">
    <a href="/game/addmember" class="btn btn-lg btn-success">Get Notifications</a>
        </div>
    <div class="col-md-5">
        <a href="/game/addplayer" class="btn btn-lg btn-primary">Join Game</a>
    </div>    
</div>
</div>


