<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BasketballGames.Data.Properties.Settings.BasketballGamesConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=BasketballGames;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>